.browse-bar {
  font-family: var(--font-lusitana);

  padding-inline: var(--size-2);
  padding-block: var(--size-2);

  display: grid;

  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto auto auto;
  gap: var(--size-3);

  grid-template-areas:
    "bsc bsc bsc"
    "spa spa spa"
    ".   .   pag";

  box-shadow: var(--inner-shadow-4);

  /* Medium screens */
  @media screen and (min-width: 768px) {
    grid-template-areas:
      "bsc spa pag"
      "bsc spa pag"
      "bsc spa pag";
  }
}
