.overlay {
  background: color-mix(in oklch, var(--background), transparent 50%);

  position: fixed;
  inset-inline: 0;
  inset-block: 0;

  backdrop-filter: blur(25px);
  transition: backdrop-filter 1s ease;

  overscroll-behavior: contain;
  z-index: calc(var(--layer-5) * 10);

  animation: overlayShow 250ms ease;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
