.order-details {
  background: var(--surface-3);
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  border-radius: var(--radius-3);
}

.order-details > h2 {
  max-inline-size: none;
  background: var(--surface-4);
  color: var(--text-2);
  padding-inline: var(--size-1);
  padding-block: var(--size-1);
  border-radius: var(--radius-blob-4);
  font-size: var(--font-size-5);
  margin-block: 0 var(--size-6);
  display: flex;
  align-items: center;
  gap: var(--size-3);
}
