.product-view {
  inline-size: 100%;
  max-inline-size: var(--size-content-3);

  background: var(--surface-2);
  border-radius: var(--radius-3);
  margin-inline: auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(var(--size-10), max-content) 1fr auto;
  gap: var(--size-3);

  grid-template-areas:
    "fig"
    "hdr"
    "cnt"
    "ftr";

  box-shadow: var(--shadow-1);
}
