.item-image {
  display: grid;
  place-items: center stretch;

  grid-template-columns: [inf-start] var(--size-7) [img-start] auto [img-end inf-end];
  grid-template-rows: [inf-start img-start] auto [img-end inf-end];
}

.item-image__link {
  grid-area: img;
}

.item-image__info {
  grid-area: inf;
  place-self: center start;
}
