.product-preview {
  inline-size: 100%;
  max-inline-size: var(--size-content-1);
  margin-inline: auto;

  background: var(--surface-3);
  padding-inline: var(--size-2);
  padding-block: var(--size-2);

  display: grid;
  place-items: center;

  -webkit-mask: var(--mask-corner-cut-circles-1);

  & header {
    padding-inline: var(--size-2);
    padding-block: var(--size-2);
    box-shadow: var(--inner-shadow-4);

    display: grid;
    place-items: center;

    -webkit-mask: var(--mask-corner-cut-circles-1);
  }

  & footer {
    color: var(--text-2);
    text-align: center;
  }
}
