.brand-preview {
  inline-size: 100%;
  max-inline-size: var(--size-content-1);
  margin-inline: auto;

  background: var(--surface-3);
  padding-inline: var(--size-3);
  padding-block: var(--size-3);

  display: grid;
  place-items: center;

  -webkit-mask: var(--mask-corner-cut-circles-1);
}

.brand-preview__logo {
  background: var(--surface-1);
  box-shadow: var(--inner-shadow-4);

  display: grid;
  place-items: center;

  -webkit-mask: var(--mask-corner-cut-circles-1);
}

.brand-preview__name {
  color: var(--text-2);
  text-align: center;
}
