.brand-tag {
  inline-size: 100%;

  padding-inline: var(--size-3);
  padding-block: var(--size-1);

  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  align-items: center;

  box-shadow: var(--inner-shadow-2);
}

.brand-tag__name {
  color: var(--text-2);
}
