.categories-tree-view {
  inline-size: 100%;

  background: var(--surface-2);
}

.categories-tree-view > h4 {
  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  box-shadow: var(--shadow-6);
  font-weight: var(--font-weight-9);
  border-start-start-radius: var(--size-3);
  border-start-end-radius: var(--size-3);
  margin-block-end: var(--size-2);
}

.categories-list {
  list-style: none;
  padding-inline: 0;
  font-size: var(--font-size-1);
}

.categories-item {
  padding-inline-start: 0;
}
