.categories-tree-view {
  inline-size: 100%;

  background: var(--surface-2);
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  border-radius: var(--radius-3);
}

.categories-list {
  list-style: none;
}

.categories-item {
  color: #fff;
}
