.product-info {
  inline-size: 100%;
  margin-inline: auto;

  background: var(--surface-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);

  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

.product-info thead th:nth-child(1) {
  inline-size: 50%;
  text-align: start;
}

.product-info thead th:nth-child(2) {
  inline-size: 50%;
  text-align: end;
}

.product-info th {
  padding-inline: var(--size-2);
  padding-block: var(--size-2);

  background: var(--surface-3);
  color: var(--text-2);
}

.product-info td {
  padding-inline: var(--size-2);
  padding-block: var(--size-2);
}

.product-info tr:nth-child(even) td,
.product-info tr:nth-child(even) th {
  background: var(--surface-4);
}

.product-info tr:nth-child(odd) td,
.product-info tr:nth-child(odd) th {
  background: var(--surface-3);
}
