.product-excerpt {
  inline-size: 100%;
  max-inline-size: var(--size-content-1);
  margin-inline: auto;

  display: grid;
  grid-template-columns: [bck-start img-start nam-start] auto [img-end prc-start] auto [prc-end] auto [nam-end bck-end];
  grid-template-rows: [prc-start bck-start img-start] auto [prc-end] 50px [nam-start] auto [img-end] auto [nam-end] auto var(--size-3) [bck-end];
}

.product-excerpt__image {
  grid-area: img;
}

.product-excerpt__image > img {
  border-radius: var(--radius-round);
  background: var(--surface-1);
  box-shadow: var(--inner-shadow-4);
}

.product-excerpt__background {
  grid-area: bck;
  background: var(--surface-2);
  border-radius: var(--radius-blob-1);
  box-shadow: var(--shadow-6);
}

.product-excerpt__name {
  grid-area: nam;
  max-inline-size: var(--size-content-1);
  font-size: var(--font-size-2);
  background: var(--surface-3);
  padding-inline: var(--size-2);
  padding-block: var(--size-2);
  border-radius: var(--radius-blob-2);
  box-shadow: var(--inner-shadow-4);
}

.product-excerpt__price {
  grid-area: prc;
  background: var(--surface-4);
  padding-inline: var(--size-1);
  padding-block: var(--size-1);
  border-radius: var(--radius-blob-2);
  text-align: center;
  box-shadow: var(--shadow-5);
}
