.products-list {
  display: block;
}

.products-list > header {
  inline-size: 100%;

  padding-inline: var(--size-2);
  padding-block: var(--size-2);
  border-radius: var(--radius-3);
  border-block-start: var(--border-size-1) dotted var(--surface-2);
  border-block-end: var(--border-size-1) dotted var(--surface-2);
}

.products-list__items {
  display: grid;
  gap: var(--size-8);

  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--size-content-1)), 1fr));
}

.products-list__items--list-mode {
  gap: var(--size-8);

  grid-template-columns: none;
}
