.details {
  inline-size: 100%;
}

.details > h2 {
  background: var(--surface-4);
  color: var(--text-2);
  padding-inline: var(--size-1);
  padding-block: var(--size-1);
  border-radius: var(--radius-blob-4);
  font-size: var(--font-size-5);
  margin-block: 0 var(--size-6);
  display: flex;
  align-items: center;
  gap: var(--size-3);
}
