.cart-table-entry {
  text-align: center;
}

.cart-table-entry td:nth-child(1) {
  text-align: start;
}

.cart-table-entry td:nth-child(2) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: clip;
}

.cart-table-entry td:nth-child(4) {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: end;
  overflow: clip;
}

.cart-table-entry td:nth-child(5) {
  overflow: clip;
}
