.inc-cart-item-qty-form {
  display: block;
}

.inc-cart-item-qty-button {
  inline-size: auto;
  block-size: auto;
  padding-inline: 0;
  padding-block: 0;
  min-inline-size: 0;
  min-block-size: 0;
  box-shadow: var(--shadow-4);
}

.dec-cart-item-qty-form {
  display: block;
}

.dec-cart-item-qty-button {
  inline-size: auto;
  block-size: auto;
  padding-inline: 0;
  padding-block: 0;
  min-inline-size: 0;
  min-block-size: 0;
  box-shadow: var(--shadow-4);
}

.del-cart-item-form {
  display: block;
}

.del-cart-item-button {
  inline-size: auto;
  block-size: auto;
  padding-inline: 0;
  padding-block: 0;
  min-inline-size: 0;
  min-block-size: 0;
  box-shadow: var(--shadow-4);
}
