.cart-table-entry-image {
  inline-size: 100%;
  display: grid;

  grid-template-columns: [inf-start] var(--size-3) [img-start] auto [img-end inf-end];
  grid-template-rows: [inf-start] var(--size-3) [img-start] auto [img-end inf-end];
}

.cart-table-entry-image__link {
  grid-area: img;
}

.cart-table-entry-image__info {
  grid-area: inf;
  place-self: start;
}
