.product-filter {
  inline-size: 100%;
  max-inline-size: var(--size-content-2);
  margin-inline: auto;

  background: var(--surface-2);
}

.product-filter > h4 {
  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-1) var(--size-1);
  margin-block-end: var(--size-2);
}

.product-filter__form {
  padding-inline: var(--size-3);

  display: flex;
  flex-direction: column;
}

.product-filter__form > label {
  color: var(--text-2);
  padding-block: var(--size-4) var(--size-1);
  font-size: var(--font-size-0);
  text-transform: uppercase;
}

.product-filter-skeleton {
  inline-size: 100%;

  background: var(--surface-2);
}

.product-filter-skeleton > h4 {
  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-1) var(--size-1);
  margin-block-end: var(--size-2);
}

.product-filter-skeleton__form {
  padding-inline: var(--size-3);

  display: flex;
  flex-direction: column;
}

.product-filter-skeleton__form > span.label {
  color: var(--text-2);
  padding-block: var(--size-4) var(--size-1);
  font-size: var(--font-size-0);
  text-transform: uppercase;
}
