.header {
  inline-size: 100%;

  padding-inline: var(--size-2);
  padding-block: var(--size-2);
  border-radius: var(--radius-3);
  border-block-start: var(--border-size-1) dotted var(--surface-2);
  border-block-end: var(--border-size-1) dotted var(--surface-2);
}

.header-skeleton {
  inline-size: 100%;

  padding-inline: var(--size-2);
  padding-block: var(--size-2);
  border-radius: var(--radius-3);
  border-block-start: var(--border-size-1) dotted var(--surface-2);
  border-block-end: var(--border-size-1) dotted var(--surface-2);
}
