.checkout {
  inline-size: 100%;

  background: var(--surface-2);
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  border-radius: var(--radius-3);

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: var(--size-3);

  grid-template-areas:
    "bas"
    "osu"
    "shm"
    "plo";
}

.checkout__billing-and-shipping {
  grid-area: bas;

  inline-size: 100%;
  max-inline-size: var(--size-content-3);
  margin-inline: auto;

  background: var(--surface-3);
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  border-radius: var(--radius-3);
}

.checkout__order-summary {
  grid-area: osu;

  inline-size: 100%;
  max-inline-size: var(--size-content-3);
  margin-inline: auto;

  background: var(--surface-3);
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  border-radius: var(--radius-3);
}

.checkout__billing-and-shipping > h2,
.checkout__order-summary > h2 {
  background: var(--surface-4);
  color: var(--text-2);
  padding-inline: var(--size-1);
  padding-block: var(--size-1);
  border-radius: var(--radius-blob-4);
  font-size: var(--font-size-5);
  margin-block: 0 var(--size-6);
  display: flex;
  align-items: center;
  gap: var(--size-3);
}

.checkout__shipping-method {
  grid-area: shm;
  place-self: end center;
}

.checkout__place-order {
  grid-area: plo;
  place-self: end center;
}

/* || MEDIA QUERIES */

/* 2XL screens */
@media screen and (min-width: 1536px) {
  .checkout {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    grid-template-areas:
      "bas osu"
      "bas shm"
      "bas plo";
  }
}
