.page {
  padding-inline: var(--size-fluid-3) var(--size-fluid-3);
  padding-block: var(--size-3) var(--size-3);
}

.hero > p {
  color: var(--text-2);
}

.hero > img {
  inline-size: var(--size-fluid-10);
  float: inline-end;
  shape-outside: circle(50%);
  margin-inline: var(--size-10) 0;
  margin-block: 0 var(--size-6);
  border-radius: var(--radius-5);
}

.dashboard {
  clear: both;
  background: var(--dashboard-gradient);
  margin-block-start: var(--size-6);

  padding-inline: var(--size-fluid-3) var(--size-fluid-3);
  padding-block: var(--size-2) var(--size-2);

  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);
}

.dashboard > h4 {
  inline-size: 100%;
  max-inline-size: none;

  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  text-align: center;
  box-shadow: var(--inner-shadow-4);
  font-weight: var(--font-weight-9);
  border-start-start-radius: var(--size-3);
  border-start-end-radius: var(--size-3);
  margin-block-start: var(--size-4);
}

.dashboard__manager {
  display: flex;
  flex-direction: column;

  gap: var(--size-3);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  background: var(--surface-2);
  box-shadow: var(--inner-shadow-4);
}

.dashboard__featured-products {
  display: flex;
  flex-wrap: wrap;
  place-items: start;
  gap: var(--size-3);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  background: var(--surface-2);
  box-shadow: var(--inner-shadow-4);
}

.dashboard__featured-brands {
  display: flex;
  flex-wrap: wrap;
  place-items: start;
  gap: var(--size-3);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  background: var(--surface-2);
  box-shadow: var(--inner-shadow-4);
}

.dashboard__totals {
  display: flex;
  flex-wrap: wrap;
  place-items: start;
  gap: var(--size-3);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  margin-block-start: var(--size-3);
}

.dashboard-totals__total-products {
  inline-size: 100%;
  max-inline-size: var(--size-content-1);
  margin-inline: auto;
}

.dashboard-totals__total-products > h4 {
  inline-size: 100%;
  max-inline-size: none;

  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  text-align: center;
  box-shadow: var(--inner-shadow-4);
  font-weight: var(--font-weight-9);
  border-start-start-radius: var(--size-3);
  border-start-end-radius: var(--size-3);
}

.dashboard-totals__total-products > h5 {
  font-size: var(--font-size-6);
  text-align: center;
  background: var(--surface-2);
  box-shadow: var(--inner-shadow-4);
}

.dashboard-totals__total-brands {
  inline-size: 100%;
  max-inline-size: var(--size-content-1);
  margin-inline: auto;
}

.dashboard-totals__total-brands > h4 {
  inline-size: 100%;
  max-inline-size: none;

  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-2) var(--size-2);
  text-align: center;
  box-shadow: var(--inner-shadow-4);
  font-weight: var(--font-weight-9);
  border-start-start-radius: var(--size-3);
  border-start-end-radius: var(--size-3);
}

.dashboard-totals__total-brands > h5 {
  font-size: var(--font-size-6);
  text-align: center;
  background: var(--surface-2);
  box-shadow: var(--inner-shadow-4);
}
