.layout {
  min-block-size: 100cqb;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header"
    "main"
    "footer";
}

.layout__main {
  grid-area: main;
}
