@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility link {
  cursor: pointer;
  text-decoration-line: none;

  &:focus {
    outline-style: none;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &:hover {
    @media (hover: hover) {
      & {
        text-decoration-line: underline;
      }
    }
  }
}

@layer base {
  :root {
    /* light */
    --text-1-light: var(--gray-12);
    --text-2-light: var(--gray-7);
    --surface-1-light: var(--gray-0);
    --surface-2-light: var(--gray-2);
    --surface-3-light: var(--gray-3);
    --surface-4-light: var(--gray-4);
    --scrollthumb-color-light: var(--gray-7);
    /* form validation colors */
    --form-field-alert-bg-light: var(--red-12);
    --form-field-alert-tx-light: var(--yellow-9);
    /* gradients */
    --heading-gradient-1-light: var(--gradient-5);
    --dashboard-gradient-light: var(--gradient-15);

    /* shadcn/ui (light) */
    --background-light: 0 0% 100%;
    --foreground-light: 20 14.3% 4.1%;
    --card-light: 0 0% 100%;
    --card-foreground-light: 20 14.3% 4.1%;
    --popover-light: 0 0% 100%;
    --popover-foreground-light: 20 14.3% 4.1%;
    --primary-light: 24 9.8% 10%;
    --primary-foreground-light: 60 9.1% 97.8%;
    --secondary-light: 60 4.8% 95.9%;
    --secondary-foreground-light: 24 9.8% 10%;
    --muted-light: 60 4.8% 95.9%;
    --muted-foreground-light: 25 5.3% 44.7%;
    --accent-light: 60 4.8% 95.9%;
    --accent-foreground-light: 24 9.8% 10%;
    --destructive-light: 0 84.2% 60.2%;
    --destructive-foreground-light: 60 9.1% 97.8%;
    --border-light: 20 5.9% 90%;
    --input-light: 20 5.9% 90%;
    --ring-light: 20 14.3% 4.1%;

    /* dark */
    --text-1-dark: var(--gray-0);
    --text-2-dark: var(--gray-4);
    --surface-1-dark: var(--gray-9);
    --surface-2-dark: var(--gray-8);
    --surface-3-dark: var(--gray-7);
    --surface-4-dark: var(--gray-6);
    --scrollthumb-color-dark: var(--gray-6);
    /* form validation colors */
    --form-field-alert-bg-dark: var(--yellow-9);
    --form-field-alert-tx-dark: var(--red-12);
    /* gradients */
    --heading-gradient-1-dark: var(--gradient-23);
    --dashboard-gradient-dark: var(--gradient-16);

    /* shadcn/ui (dark) */
    --background-dark: 20 14.3% 4.1%;
    --foreground-dark: 60 9.1% 97.8%;
    --card-dark: 20 14.3% 4.1%;
    --card-foreground-dark: 60 9.1% 97.8%;
    --popover-dark: 20 14.3% 4.1%;
    --popover-foreground-dark: 60 9.1% 97.8%;
    --primary-dark: 60 9.1% 97.8%;
    --primary-foreground-dark: 24 9.8% 10%;
    --secondary-dark: 12 6.5% 15.1%;
    --secondary-foreground-dark: 60 9.1% 97.8%;
    --muted-dark: 12 6.5% 15.1%;
    --muted-foreground-dark: 24 5.4% 63.9%;
    --accent-dark: 12 6.5% 15.1%;
    --accent-foreground-dark: 60 9.1% 97.8%;
    --destructive-dark: 0 62.8% 30.6%;
    --destructive-foreground-dark: 60 9.1% 97.8%;
    --border-dark: 12 6.5% 15.1%;
    --input-dark: 12 6.5% 15.1%;
    --ring-dark: 24 5.7% 82.9%;

    /* shadcn/ui (shared) */
    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-1: var(--text-1-dark);
      --text-2: var(--text-2-dark);
      --surface-1: var(--surface-1-dark);
      --surface-2: var(--surface-2-dark);
      --surface-3: var(--surface-3-dark);
      --surface-4: var(--surface-4-dark);
      --form-field-alert-bg: var(--form-field-alert-bg-dark);
      --form-field-alert-tx: var(--form-field-alert-tx-dark);
      --heading-gradient-1: var(--heading-gradient-1-dark);
      --dashboard-gradient: var(--dashboard-gradient-dark);

      --background: var(--background-dark);
      --foreground: var(--foreground-dark);
      --card: var(--card-dark);
      --card-foreground: var(--card-foreground-dark);
      --popover: var(--popover-dark);
      --popover-foreground: var(--popover-foreground-dark);
      --primary: var(--primary-dark);
      --primary-foreground: var(--primary-foreground-dark);
      --secondary: var(--secondary-dark);
      --secondary-foreground: var(--secondary-foreground-dark);
      --muted: var(--muted-dark);
      --muted-foreground: var(--muted-foreground-dark);
      --accent: var(--accent-dark);
      --accent-foreground: var(--accent-foreground-dark);
      --destructive: var(--destructive-dark);
      --destructive-foreground: var(--destructive-foreground-dark);
      --border: var(--border-dark);
      --input: var(--input-dark);
      --ring: var(--ring-dark);
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      --text-1: var(--text-1-light);
      --text-2: var(--text-2-light);
      --surface-1: var(--surface-1-light);
      --surface-2: var(--surface-2-light);
      --surface-3: var(--surface-3-light);
      --surface-4: var(--surface-4-light);
      --form-field-alert-bg: var(--form-field-alert-bg-light);
      --form-field-alert-tx: var(--form-field-alert-tx-light);
      --heading-gradient-1: var(--heading-gradient-1-light);
      --dashboard-gradient: var(--dashboard-gradient-light);

      --background: var(--background-light);
      --foreground: var(--foreground-light);
      --card: var(--card-light);
      --card-foreground: var(--card-foreground-light);
      --popover: var(--popover-light);
      --popover-foreground: var(--popover-foreground-light);
      --primary: var(--primary-light);
      --primary-foreground: var(--primary-foreground-light);
      --secondary: var(--secondary-light);
      --secondary-foreground: var(--secondary-foreground-light);
      --muted: var(--muted-light);
      --muted-foreground: var(--muted-foreground-light);
      --accent: var(--accent-light);
      --accent-foreground: var(--accent-foreground-light);
      --destructive: var(--destructive-light);
      --destructive-foreground: var(--destructive-foreground-light);
      --border: var(--border-light);
      --input: var(--input-light);
      --ring: var(--ring-light);
    }
  }

  :root[data-theme="dark"] {
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --form-field-alert-bg: var(--form-field-alert-bg-dark);
    --form-field-alert-tx: var(--form-field-alert-tx-dark);
    --heading-gradient-1: var(--heading-gradient-1-dark);
    --dashboard-gradient: var(--dashboard-gradient-dark);

    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
    --card: var(--card-dark);
    --card-foreground: var(--card-foreground-dark);
    --popover: var(--popover-dark);
    --popover-foreground: var(--popover-foreground-dark);
    --primary: var(--primary-dark);
    --primary-foreground: var(--primary-foreground-dark);
    --secondary: var(--secondary-dark);
    --secondary-foreground: var(--secondary-foreground-dark);
    --muted: var(--muted-dark);
    --muted-foreground: var(--muted-foreground-dark);
    --accent: var(--accent-dark);
    --accent-foreground: var(--accent-foreground-dark);
    --destructive: var(--destructive-dark);
    --destructive-foreground: var(--destructive-foreground-dark);
    --border: var(--border-dark);
    --input: var(--input-dark);
    --ring: var(--ring-dark);
  }

  :root[data-theme="light"] {
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);
    --form-field-alert-bg: var(--form-field-alert-bg-light);
    --form-field-alert-tx: var(--form-field-alert-tx-light);
    --heading-gradient-1: var(--heading-gradient-1-light);
    --dashboard-gradient: var(--dashboard-gradient-light);

    --background: var(--background-light);
    --foreground: var(--foreground-light);
    --card: var(--card-light);
    --card-foreground: var(--card-foreground-light);
    --popover: var(--popover-light);
    --popover-foreground: var(--popover-foreground-light);
    --primary: var(--primary-light);
    --primary-foreground: var(--primary-foreground-light);
    --secondary: var(--secondary-light);
    --secondary-foreground: var(--secondary-foreground-light);
    --muted: var(--muted-light);
    --muted-foreground: var(--muted-foreground-light);
    --accent: var(--accent-light);
    --accent-foreground: var(--accent-foreground-light);
    --destructive: var(--destructive-light);
    --destructive-foreground: var(--destructive-foreground-light);
    --border: var(--border-light);
    --input: var(--input-light);
    --ring: var(--ring-light);
  }

  html {
    scrollbar-color: hsl(var(--primary)) hsl(var(--background));
  }

  body {
    font-family: var(--font-sans);
    font-size: var(--font-size-1);
    line-height: var(--font-lineheight-2);
    min-block-size: 100vh;
    min-block-size: 100svh;
    min-block-size: 100dvh;
    margin-inline: 0;
    margin-block: 0;
    padding-inline: 0;
    padding-block: 0;

    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  h1 {
    max-inline-size: var(--size-header-3);
  }

  h2 {
    max-inline-size: var(--size-header-3);
  }

  h3,
  h4,
  h5,
  h6 {
    max-inline-size: var(--size-header-3);
  }

  p {
    max-inline-size: var(--size-content-3);
    text-wrap: pretty;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
