.link {
  display: block;
  text-decoration: none;
  line-height: var(--font-lineheight-1);

  user-select: none;
  outline: none;

  padding-inline: var(--size-1);
  padding-block: var(--size-1);

  color: hsl(var(--foreground));

  transition:
    background-color 250ms ease,
    color 250ms ease;

  &:focus-visible {
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
  }

  &:hover {
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
  }

  &[data-active] {
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
  }
}
