.trigger {
  display: flex;
  align-items: center;
  gap: var(--size-1);

  user-select: none;
  outline: none;

  padding-inline: var(--size-1);
  padding-block: var(--size-1);

  color: var(--foreground);

  transition:
    background-color 250ms ease,
    color 250ms ease;

  &:focus-visible {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }

  &:hover {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }

  &[data-state="open"] {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }
}

.caret-down {
  position: relative;
  transition: transform 250ms ease;

  [data-state="open"] > & {
    transform: rotate(-180deg);
  }
}
