.main-layout {
  min-block-size: 100vh;
  min-block-size: 100svh;
  min-block-size: 100dvh;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header"
    "main"
    "footer";

  /* Large screens */
  @media screen and (min-width: 1024px) {
    grid-template-columns: auto 1fr auto;

    grid-template-areas:
      "header header header"
      "navbar main   sidebar"
      "footer footer footer";
  }
}
