.header {
  grid-area: header;

  background: var(--surface-2);
  color: var(--brand);
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  position: sticky;
  inset-block-start: 0;
  z-index: 2;
}
