.theme-switcher {
  margin-inline: 0;
  padding-inline: 0;
}

.theme-switcher button {
  margin-inline: 0;
  padding-inline: 0;
}

.theme-switcher svg {
  max-inline-size: none;
}

.theme-switcher-skeleton {
  margin-inline: 0;
  padding-inline: 0;
}

.theme-switcher-skeleton button {
  margin-inline: 0;
  padding-inline: 0;
}

.theme-switcher-skeleton svg {
  max-inline-size: none;
}
