.brands-table-view {
  inline-size: 100%;
  margin-inline: auto;

  background: var(--surface-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);

  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

.brands-table-view > thead th:nth-child(1),
.brands-table-view > tfoot th:nth-child(1) {
  inline-size: var(--size-13);
  text-align: start;
}

.brands-table-view > thead th:nth-child(2),
.brands-table-view > tfoot th:nth-child(2) {
  inline-size: 50%;
  text-align: start;
}

.brands-table-view > thead th:nth-child(3),
.brands-table-view > tfoot th:nth-child(3) {
  inline-size: 50%;
  text-align: start;
}

.brands-table-view > thead th:nth-child(4),
.brands-table-view > tfoot th:nth-child(4) {
  inline-size: var(--size-9);
}

.brands-table-view > thead th,
.brands-table-view > tfoot th {
  padding-inline: var(--size-3);
  padding-block: var(--size-2);

  background: var(--surface-2);
  color: var(--text-2);
}

.brands-table-view > tbody > tr > td {
  padding-inline: var(--size-3);
  padding-block: var(--size-2);
}

.brands-table-view > tbody > tr:nth-child(even) td {
  background: var(--surface-4);
}

.brands-table-view > tbody > tr:nth-child(odd) td {
  background: var(--surface-3);
}

/* || MEDIA QUERIES */

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
  .brands-table-view > thead th:nth-child(1),
  .brands-table-view > tfoot th:nth-child(1) {
    inline-size: var(--size-11);
  }

  .brands-table-view > thead th:nth-child(2),
  .brands-table-view > tfoot th:nth-child(2) {
    inline-size: 100%;
  }

  .brands-table-view > thead th:nth-child(3),
  .brands-table-view > tfoot th:nth-child(3) {
    display: none;
  }
}
