.brands-table-entry {
  text-align: center;
}

.brands-table-entry > td:nth-child(2) {
  text-align: start;
}

.brands-table-entry > td:nth-child(3) {
  white-space: nowrap;
  text-align: start;
  overflow: clip;
}

/* || MEDIA QUERIES */

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
  .brands-table-entry > td:nth-child(3) {
    display: none;
  }
}
