.product-form-images {
  padding-inline: var(--size-2);
  padding-block: var(--size-2);

  display: grid;

  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: 1fr auto;
  gap: var(--size-3);

  grid-template-areas:
    "view view view tbar"
    "pimg sbar nimg tbar";

  border-radius: var(--radius-3);
  box-shadow: var(--inner-shadow-4);
}

.product-form-images__view {
  grid-area: view;

  display: flex;
  gap: var(--size-2);

  overflow-x: auto;

  box-shadow: var(--inner-shadow-2);
}

.product-form-images__prev-img {
  grid-area: pimg;
  place-self: center;
}

.product-form-images__next-img {
  grid-area: nimg;
  place-self: center;
}

.product-form-images__toolbar {
  grid-area: tbar;
}

.product-form-images__statusbar {
  grid-area: sbar;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--size-2);
}
