.products-table-entry {
  text-align: center;
}

.products-table-entry > td:nth-child(1) {
  text-align: start;
}

.products-table-entry > td:nth-child(2) {
  text-align: start;
}

.products-table-entry > td:nth-child(5) {
  white-space: nowrap;
  text-align: end;
  overflow: clip;
}

.products-table-entry-image {
  display: grid;
  place-items: start;

  grid-template-columns: [inf-start] var(--size-7) [img-start] auto [img-end inf-end];
  grid-template-rows: [inf-start img-start] auto [img-end inf-end];
}

.products-table-entry-image__link {
  grid-area: img;
}

.products-table-entry-image__info {
  grid-area: inf;
}
