.products-browse-bar {
  padding-inline: var(--size-2);
  padding-block: var(--size-2);

  display: grid;
  place-items: center start;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr auto auto;
  grid-template-rows: auto auto;
  gap: var(--size-3);

  grid-template-areas:
    "bsc bsc spa spa"
    "bsc bsc sby pag";

  border-start-start-radius: var(--size-3);
  border-start-end-radius: var(--size-3);

  box-shadow: var(--inner-shadow-4);
}

.products-browse-bar__browse-by-category {
  grid-area: bsc;
}

.products-browse-bar__search-panel {
  grid-area: spa;
  place-self: center end;
}

.products-browse-bar__sort-by {
  grid-area: sby;
}

.products-browse-bar__paginate {
  grid-area: pag;
}

/* || MEDIA QUERIES */

/* Medium screens */
@media screen and (min-width: 768px) {
  .products-browse-bar {
    grid-template-areas:
      "bsc spa sby pag"
      "bsc spa sby pag";
  }

  .products-browse-bar__search-panel {
    place-self: center start;
  }
}
