.sort-by {
  color: var(--text-2);
  cursor: pointer;

  padding-inline: var(--size-2);
  padding-block: var(--size-2);

  display: flex;
  align-items: center;

  border-radius: var(--radius-3);
  border: var(--border-size-1) solid var(--surface-2);
}

.sort-by__choices {
  inline-size: 75vw;
  inline-size: 75svw;
  inline-size: 75dvw;
  max-inline-size: var(--size-content-2);
  background: var(--surface-2);
  padding-inline: var(--size-2);
  padding-block: var(--size-2);

  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);

  z-index: 10;
}

.sort-by__choice {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--surface-3);
  padding-inline: var(--size-3);
  padding-block: var(--size-2);
  border-radius: var(--radius-2);
}

.sort-by__choice--current {
  cursor: not-allowed;

  background: var(--surface-4);
  color: var(--text-1);

  transition: none;
}

/* || MEDIA QUERIES */

/* 
  On touch devices, like iPads, the hover state is sticky, so the button stays blue after tapping it. I do not want that:
  https://stackoverflow.com/questions/17233804/how-to-prevent-sticky-hover-effects-for-buttons-on-touch-devices
*/
@media (hover: hover) and (pointer: fine) {
  .sort-by {
    transition: all 0.5s var(--ease-3);
  }

  .sort-by:hover {
    background: var(--surface-2);
    color: var(--text-1);
  }

  .sort-by__choice {
    transition: all 0.5s var(--ease-3);
  }

  .sort-by__choice:hover {
    background: var(--surface-4);
    color: var(--text-1);
  }
}
