.product-form-images {
  padding-inline: var(--size-2);
  padding-block: var(--size-2);
  margin-block-start: var(--size-4);

  display: grid;

  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  gap: var(--size-1);

  grid-template-areas:
    "labl labl tbar"
    "view view view"
    "pimg sbar nimg";

  border-radius: var(--radius-3);
  box-shadow: var(--inner-shadow-4);
}

.product-form-images__label {
  grid-area: labl;
  place-self: center start;

  padding-inline: var(--size-4);
  font-size: var(--font-size-4);
  color: var(--text-2);
}

.product-form-images__toolbar {
  grid-area: tbar;
  place-self: center end;
}
