.header {
  inline-size: 100%;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: var(--size-3);

  grid-template-areas:
    "onu"
    "dat"
    "ema"
    "tot"
    "pme"
    "rec"
    "sto";
}

.header h3 {
  max-inline-size: none;
  background: var(--surface-4);
  color: var(--text-2);
  padding-inline: var(--size-2);
  padding-block: var(--size-1);
}

.header__order-number {
  grid-area: onu;
}

.header__date {
  grid-area: dat;
}

.header__email {
  grid-area: ema;
}

.header__total {
  grid-area: tot;
}

.header__payment-method {
  grid-area: pme;
}

.header__receipt {
  grid-area: rec;
}

.header__ship-to {
  grid-area: sto;
}

/* || MEDIA QUERIES */

/* 2XL screens */
@media screen and (min-width: 2304px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;

    grid-template-areas:
      "onu dat"
      "ema tot"
      "pme rec"
      "sto sto";
  }
}

/* 2XL screens */
@media screen and (min-width: 3072px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;

    grid-template-areas:
      "onu dat ema"
      "tot pme rec"
      ".   sto .  ";
  }
}
