.categories-tree {
  inline-size: 100%;
  min-inline-size: var(--size-13);
  max-inline-size: var(--size-content-2);
  background: var(--surface-2);
}

.categories-tree > h4 {
  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-1) var(--size-1);
  margin-block-end: var(--size-2);
}

.categories-tree > .categories-list,
.categories-tree-skeleton > .categories-list-skeleton {
  margin-inline-end: var(--size-3);
}

.categories-list {
  line-height: var(--font-lineheight-5);
}

.categories-item {
  margin-inline-start: var(--size-3);
}

.categories-tree-skeleton {
  inline-size: 100%;
  background: var(--surface-2);
}

.categories-tree-skeleton > h4 {
  background: var(--heading-gradient-1);
  color: var(--text-2);
  padding-inline: var(--size-2) var(--size-2);
  padding-block: var(--size-1) var(--size-1);
  margin-block-end: var(--size-2);
}

.categories-list-skeleton {
  line-height: var(--font-lineheight-5);
}

.categories-item-skeleton {
  margin-inline-start: var(--size-3);
}
