.browse-bar {
  padding-inline: var(--size-2);
  padding-block: var(--size-2);

  display: grid;

  grid-template-columns: 1fr 1fr auto auto;
  grid-template-rows: auto auto auto;
  gap: var(--size-3);

  grid-template-areas:
    "bsc bsc bsc bsc"
    "spa spa spa spa"
    ".   .   pag npr";

  box-shadow: var(--inner-shadow-4);
}

.browse-bar__browse-by-category {
  grid-area: bsc;
}

.browse-bar__search-panel {
  grid-area: spa;
}

.browse-bar__paginate {
  grid-area: pag;
}

.browse-bar__new-product {
  grid-area: npr;
}

/* || MEDIA QUERIES */

/* Medium screens */
@media screen and (min-width: 768px) {
  .browse-bar {
    grid-template-areas:
      "bsc spa pag npr"
      "bsc spa pag npr"
      "bsc spa pag npr";
  }

  .browse-bar__search-panel {
    place-self: center start;
  }
}
